In [20]:
import numpy as np
import pandas as pd
from plotnine import *

In [22]:
df_test = pd.read_csv('evalData.csv')
df_train = pd.read_csv('trainData.csv')
df_train.head()

,Unnamed: 0,date,fligth_number,origin,destination,distance,noshow,denied_boarding,pax_midlow,pax_high,...,pax_freqflyer,group_bookings,out_of_stock,dom_cnx,int_cnx,p2p,departure_time,capacity,revenues_usd,bookings
0,389083,2009-11-09,8995,BBA,SCL,1394,9.0,0,94,2,...,22,19,0,1,0,239,10:30:00,174.0,10631.1,240
1,177073,2009-05-23,7061,LIM,TRU,489,0.0,0,100,4,...,25,0,0,19,9,192,19:20:00,174.0,5453.7,220
2,1040357,2011-05-09,8972,SCL,PUQ,2180,4.0,0,7,1,...,2,0,0,0,10,69,09:54:00,218.0,16161.0,79
3,505258,2010-02-12,6039,CGH,CNF,524,13.0,0,54,4,...,4,0,0,26,0,64,21:00:00,174.0,10828.7,90
4,369663,2009-10-24,7713,GPS,GYE,1170,14.0,0,21,88,...,0,88,1,23,3,183,12:40:00,144.0,16721.6,209

# Limpieza de datos

In [16]:
#eliminar columna Unnamed: 0
df_test = df_test.drop(columns=["Unnamed: 0"])
df_train = df_train.drop(columns=["Unnamed: 0"])

In [18]:
#la variable departure_time "hora programada de despegue" presenta datos nulos
df_train.isna().sum()

date                  0
fligth_number         0
origin                0
destination           0
distance              0
noshow                0
denied_boarding       0
pax_midlow            0
pax_high              0
pax_midhigh           0
pax_low               0
pax_freqflyer         0
group_bookings        0
out_of_stock          0
dom_cnx               0
int_cnx               0
p2p                   0
departure_time     1418
capacity              0
revenues_usd          0
bookings              0
dtype: int64

In [19]:
#la misma variable tiene datos nulos en data test
df_test.isna().sum()

date                 0
fligth_number        0
origin               0
destination          0
distance             0
denied_boarding      0
pax_midlow           0
pax_high             0
pax_midhigh          0
pax_low              0
pax_freqflyer        0
group_bookings       0
out_of_stock         0
dom_cnx              0
int_cnx              0
p2p                  0
departure_time     345
capacity             0
revenues_usd         0
bookings             0
dtype: int64

En los dos codigos anteriores se observa que la variable de hora de despegue existen valores nulos tanto para el data set de prueba como el de entrenamiento.

In [27]:
df_train[['destination']].nunique()
#serian 159 aeropuertos como variable categoria, habria que transformarlo?

destination    159
dtype: int64